<!-- Autor: Leonardo Terra dos Santos - 401 Info -->
<%- include("partials/head") %>
    <title>Home | The Library</title>
    <link rel="stylesheet" href="/css/home_style.css">
</head>
<body>
    <div class="geral">
        <header>
            <h1 id="title"><a href="/">The Library</a></h1>
            <h2 id="subtitle">Fiction books</h2>
        </header>

        <div class="conteudo">
            <div class="row">
                <div class="column">
                    <a href="/detalhe/o_hobbit">
                        <img src="/img/o_hobbit.jpg" alt="O Hobbit">
                        <h2 class="book_title">O Hobbit</h2>
                    </a>
                </div>
                <div class="column">
                    <a href="/detalhe/jogos_vorazes">
                        <img src="/img/jogos_vorazes.jpg" alt="Jogos Vorazes">
                        <h2 class="book_title">Jogos Vorazes</h2>
                    </a>
                </div>
                <div class="column">
                    <a href="/detalhe/guia_do_mochileiro">
                        <img src="/img/guia_do_mochileiro.jpg" alt="O Guia do Mochileiro das Galáxias">
                        <h2 class="book_title">O Guia do Mochileiro das Galáxias</h2>
                    </a>
                </div>
                <div class="column">
                    <a href="/detalhe/dracula">
                        <img src="/img/dracula.jpg" alt="Drácula">
                        <h2 class="book_title">Drácula</h2>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <a href="/detalhe/eu_robo">
                        <img src="/img/eu_robo.jpg" alt="Eu, Robô">
                        <h2>Eu, Robô</h2>
                    </a>
                </div>
                <div class="column">
                    <a href="/detalhe/neuromancer">
                        <img src="img/neuromancer.jpg" alt="Neuromancer">
                        <h2>Neuromancer</h2>
                    </a>
                </div>
            </div>
        </div>

<%- include("partials/footer") %>